@{
    ViewBag.Title = "Поиск";
}
@await Html.PartialAsync("Header")

<main class="main_search">


    <!--ввод-->
    <aside class="main_aside">
        <div class="main_aside_search">
            <p>Поиск</p>
        </div>
        <!--Форма фильтров страницы поиска-->
        <form name="form_search" class="aside_search_form" method="get">
            <div class="form_search_kategor">
                <div class="form_search_variant-name">
                    <label class="form_search_kategor-label" for="1">Категории</label>
                </div>






                <div class="aside_search_form_div">
                    <div class="search_form_div_nam">
                        <p>Боевики</p>
                    </div>
                    <div class="search_form_div_check">



                        <!--инпут боевиков-->
                        <input class="search_form_div_check-input" type="checkbox" name="boeviki" id="1">




                    </div>
                </div>
                <div class="aside_search_form_div">
                    <div class="search_form_div_nam">
                        <p>Детективы</p>
                    </div>
                    <div class="search_form_div_check">



                        <!--инпут детективов-->
                        <input class="search_form_div_check-input" type="checkbox" name="detektiv" id="2">



                    </div>
                </div>
                <div class="aside_search_form_div">
                    <div class="search_form_div_nam">
                        <p>Любовные романы</p>
                    </div>
                    <div class="search_form_div_check">



                        <!--инпут любовных романов-->
                        <input class="search_form_div_check-input" type="checkbox" name="love" id="3">



                    </div>
                </div>
                <div class="aside_search_form_div">
                    <div class="search_form_div_nam">
                        <p>Приключения</p>
                    </div>
                    <div class="search_form_div_check">



                        <!--инпут приключений-->
                        <input class="search_form_div_check-input" type="checkbox" name="prikluch" id="4">



                    </div>
                </div>
                <div class="aside_search_form_div">
                    <div class="search_form_div_nam">
                        <p>Фантастика</p>
                    </div>
                    <div class="search_form_div_check">




                        <!--инпут фантастики-->
                        <input class="search_form_div_check-input" type="checkbox" name="fantastika" id="5">



                    </div>
                </div>
                <div class="aside_search_form_div">
                    <div class="search_form_div_nam">
                        <p>Фентези</p>
                    </div>
                    <div class="search_form_div_check">



                        <!--инпут фентези-->
                        <input class="search_form_div_check-input" type="checkbox" name="fentezi" id="6">



                    </div>
                </div>
            </div>
            <div>
                <hr class="form_search_hr">
            </div>
            <div class="form_search_author">
                <div class="form_search_variant-name">
                    <label for="2" class="form_search_kategor-label">
                        Автор
                    </label>
                </div>
                <div class="form_search_input-box">



                    <!--инпут автора-->
                    <input class="orm_search_input" type="text" placeholder="поиск по автору" name="autor">



                </div>
            </div>
            <div>
                <hr class="form_search_hr">
            </div>
            <div class="form_search_age">
                <div class="form_search_variant-name">
                    <label for="3" class="form_search_kategor-label">
                        Год выхода
                    </label>
                </div>
                <div class="form_search_input-box">



                    <!--инпут года-->
                    <input class="orm_search_input" type="text" placeholder="поиск по году" name="age">



                </div>
            </div>
            <div>
                <hr class="form_search_hr">
            </div>
            <div class="form_search_praice_knopka">
                <input type="submit" value="Найти книги" class="form_search_praice_knopka-button">
            </div>
        </form>
    </aside>






    <!--вывод-->
    <!-- Левая часть с книгами-->
    <div class="main_centr">
        <!-- Средняя часть с книгами-->
        <div class="main_centr-book">
            @if (ViewData["autor"].ToString() == "" & ViewData["age"].ToString() == "")
            {
                @foreach (var book in Model.Books)
                {
                    @if
                   (book.CategoreBook == ViewData["boeviki"].ToString()
                   || book.CategoreBook == ViewData["detektiv"].ToString()
                   || book.CategoreBook == ViewData["love"].ToString()
                   || book.CategoreBook == ViewData["prikluch"].ToString()
                   || book.CategoreBook == ViewData["fantastika"].ToString()
                   || book.CategoreBook == ViewData["fentezi"].ToString()
                   )
                    {
                        <div class="main_new-box_book">
                            <div class="main_new-box_book-box1">
                                <a href="/Books/Book_page/@book.ID" class="main_new-box_book-a">
                                    <div class="box_book_img">
                                        <img class="book_img" src="~/@book.ImgBigBook" alt="">
                                    </div>
                                    <div class="box_book_price">
                                        @book.PraiseBook р.
                                    </div>
                                    <div class="box_book_name">
                                        @book.NameBook
                                    </div>
                                    <div class="box_book_autor">
                                        @book.AutorBook
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                }
            }
            @if (ViewData["autor"].ToString() != "" & ViewData["age"].ToString() == "")
            {
                @foreach (var book in Model.Books)
                {
                    @if
                   ((book.CategoreBook == ViewData["boeviki"].ToString()
                   || book.CategoreBook == ViewData["detektiv"].ToString()
                   || book.CategoreBook == ViewData["love"].ToString()
                   || book.CategoreBook == ViewData["prikluch"].ToString()
                   || book.CategoreBook == ViewData["fantastika"].ToString()
                   || book.CategoreBook == ViewData["fentezi"].ToString()) & book.AutorBook == ViewData["autor"].ToString()
                   )
                    {
                        <div class="main_new-box_book">
                            <div class="main_new-box_book-box1">
                                <a href="/Books/Book_page/@book.ID" class="main_new-box_book-a">
                                    <div class="box_book_img">
                                        <img class="book_img" src="~/@book.ImgBigBook" alt="">
                                    </div>
                                    <div class="box_book_price">
                                        @book.PraiseBook р.
                                    </div>
                                    <div class="box_book_name">
                                        @book.NameBook
                                    </div>
                                    <div class="box_book_autor">
                                        @book.AutorBook
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                    }
                }
            }
            @if (ViewData["autor"].ToString() == "" & ViewData["age"].ToString() != "")
            {
                @foreach (var book in Model.Books)
                {
                    @if
                   ((book.CategoreBook == ViewData["boeviki"].ToString()
                   || book.CategoreBook == ViewData["detektiv"].ToString()
                   || book.CategoreBook == ViewData["love"].ToString()
                   || book.CategoreBook == ViewData["prikluch"].ToString()
                   || book.CategoreBook == ViewData["fantastika"].ToString()
                   || book.CategoreBook == ViewData["fentezi"].ToString()) & book.AgeBook.ToString() == ViewData["age"].ToString()
                   )
                    {
                        <div class="main_new-box_book">
                            <div class="main_new-box_book-box1">
                                <a href="/Books/Book_page/@book.ID" class="main_new-box_book-a">
                                    <div class="box_book_img">
                                        <img class="book_img" src="~/@book.ImgBigBook" alt="">
                                    </div>
                                    <div class="box_book_price">
                                        @book.PraiseBook р.
                                    </div>
                                    <div class="box_book_name">
                                        @book.NameBook
                                    </div>
                                    <div class="box_book_autor">
                                        @book.AutorBook
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                    }
                }
            }
            @if (ViewData["autor"].ToString() != "" & ViewData["age"].ToString() != "")
            {
                @foreach (var book in Model.Books)
                {
                    @if
                   ((book.CategoreBook == ViewData["boeviki"].ToString()
                   || book.CategoreBook == ViewData["detektiv"].ToString()
                   || book.CategoreBook == ViewData["love"].ToString()
                   || book.CategoreBook == ViewData["prikluch"].ToString()
                   || book.CategoreBook == ViewData["fantastika"].ToString()
                   || book.CategoreBook == ViewData["fentezi"].ToString()) & book.AgeBook.ToString() == ViewData["age"].ToString() & book.AutorBook == ViewData["autor"].ToString()
                   )
                    {
                        <div class="main_new-box_book">
                            <div class="main_new-box_book-box1">
                                <a href="/Books/Book_page/@book.ID" class="main_new-box_book-a">
                                    <div class="box_book_img">
                                        <img class="book_img" src="~/@book.ImgBigBook" alt="">
                                    </div>
                                    <div class="box_book_price">
                                        @book.PraiseBook р.
                                    </div>
                                    <div class="box_book_name">
                                        @book.NameBook
                                    </div>
                                    <div class="box_book_autor">
                                        @book.AutorBook
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                    }
                }
            }
            @if (ViewData["boeviki"].ToString() == "" 
            & ViewData["detektiv"].ToString() == "" 
            & ViewData["love"].ToString() == "" 
            & ViewData["prikluch"].ToString() == ""
            & ViewData["fantastika"].ToString() == ""
            & ViewData["fentezi"].ToString() == ""
            & ViewData["age"].ToString() == "")
            {
                @foreach (var book in Model.Books)
                {
                    @if (book.AutorBook == ViewData["autor"].ToString())
                    {
                        <div class="main_new-box_book">
                            <div class="main_new-box_book-box1">
                                <a href="/Books/Book_page/@book.ID" class="main_new-box_book-a">
                                    <div class="box_book_img">
                                        <img class="book_img" src="~/@book.ImgBigBook" alt="">
                                    </div>
                                    <div class="box_book_price">
                                        @book.PraiseBook р.
                                    </div>
                                    <div class="box_book_name">
                                        @book.NameBook
                                    </div>
                                    <div class="box_book_autor">
                                        @book.AutorBook
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                    }
                }
            }
            @if (ViewData["boeviki"].ToString() == ""
            & ViewData["detektiv"].ToString() == ""
            & ViewData["love"].ToString() == ""
            & ViewData["prikluch"].ToString() == ""
            & ViewData["fantastika"].ToString() == ""
            & ViewData["fentezi"].ToString() == ""
            & ViewData["autor"].ToString() == "")
            {
                @foreach (var book in Model.Books)
                {
                    @if (book.AgeBook.ToString() == ViewData["age"].ToString())
                    {
                        <div class="main_new-box_book">
                            <div class="main_new-box_book-box1">
                                <a href="/Books/Book_page/@book.ID" class="main_new-box_book-a">
                                    <div class="box_book_img">
                                        <img class="book_img" src="~/@book.ImgBigBook" alt="">
                                    </div>
                                    <div class="box_book_price">
                                        @book.PraiseBook р.
                                    </div>
                                    <div class="box_book_name">
                                        @book.NameBook
                                    </div>
                                    <div class="box_book_autor">
                                        @book.AutorBook
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                    }
                }
            }
            @if (ViewData["boeviki"].ToString() == ""
            & ViewData["detektiv"].ToString() == ""
            & ViewData["love"].ToString() == ""
            & ViewData["prikluch"].ToString() == ""
            & ViewData["fantastika"].ToString() == ""
            & ViewData["fentezi"].ToString() == "")
            {
                @foreach (var book in Model.Books)
                {
                    @if (book.AgeBook.ToString() == ViewData["age"].ToString() & book.AutorBook == ViewData["autor"].ToString())
                    {
                        <div class="main_new-box_book">
                            <div class="main_new-box_book-box1">
                                <a href="/Books/Book_page/@book.ID" class="main_new-box_book-a">
                                    <div class="box_book_img">
                                        <img class="book_img" src="~/@book.ImgBigBook" alt="">
                                    </div>
                                    <div class="box_book_price">
                                        @book.PraiseBook р.
                                    </div>
                                    <div class="box_book_name">
                                        @book.NameBook
                                    </div>
                                    <div class="box_book_autor">
                                        @book.AutorBook
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                    }
                }
            }
            @if (ViewData["name"].ToString() != "")
            {
                @foreach (var book in Model.Books)
                {
                    @if (book.NameBook == ViewData["name"].ToString())
                    {
                        <div class="main_new-box_book">
                            <div class="main_new-box_book-box1">
                                <a href="/Books/Book_page/@book.ID" class="main_new-box_book-a">
                                    <div class="box_book_img">
                                        <img class="book_img" src="~/@book.ImgBigBook" alt="">
                                    </div>
                                    <div class="box_book_price">
                                        @book.PraiseBook р.
                                    </div>
                                    <div class="box_book_name">
                                        @book.NameBook
                                    </div>
                                    <div class="box_book_autor">
                                        @book.AutorBook
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</main>
@await Html.PartialAsync("Footer")