@{
    ViewData["Title"] = "С вас бабосы";
}
@model GeneralModel
@await Html.PartialAsync("Header")
@{int itogo = 0;}
<div class="about">
    <div class="about_box">
        <div class="about_name">
            Населённый пункт: 
        </div>
        <div class="about_text">
            @ViewData["locality"] 
        </div>
        <div class="about_name">
            Cпособ получения
        </div>
        <div class="about_text">
            @ViewData["way_to_get1"] / @ViewData["way_to_get2"]
        </div>
        <div class="about_name">
            Адрес доставки
        </div>
        <div class="about_text">
            @ViewData["address"]  кв. @ViewData["apartment"]
        </div>
        <div class="about_name">
            Получатель
        </div>
        <div class="about_text">
            @ViewData["full_name"]
        </div>
        <div class="about_text">
            @ViewData["email"]
        </div>
        <div class="about_text">
            @ViewData["telephone"]
        </div>
    </div>
    <div class="about_book_box">
        <div class="about_book">
            Покупки:
        </div>
        @foreach (var book in Model.Books)
        {
            @foreach (var cart in Model.Cart)
            {
                if (book.ID == cart.ID)
                {
                    <div class="about_book_box_van-book">
                        <div class="about_book_name">@book.NameBook</div>
                        <div class="about_autor_name">@book.AutorBook</div>
                        <div class="about_book_quantity">@cart.quantity шт.</div>
                    </div>
                    itogo += Convert.ToInt32(book.PraiseBook) * Convert.ToInt32(cart.quantity);
                }
            }
        }
        <div class="itogo">
            <span class="itogo_">Итого: </span>
            <span class="itogo_cena">@itogo р.</span>
        </div>
    </div>
</div>


@await Html.PartialAsync("Footer")