@{
    ViewData["Title"] = "Главная страница";
}
@model GeneralModel
@await Html.PartialAsync("Header")
<div class="main">
    <div class="main_picture">
        <img src="img\HardBook.png" alt="" class="main_picture_img">
    </div>

    <!--Новинки-->

    <div class="main_new">
        <div class="main_new-text">
            <p> Новинки</p>
        </div>
            <div class="main_new-box">
            @foreach(var book in Model.Books)
            {
                if (book.ID%7 == 0)
                {
                    <div class="main_new-box_book">

                        <!--Сылка на популярную книгу-->

                        <a href="/Books/Book_page/@book.ID" class="main_new-box_book-a">
                            <div class="box_book_img">
                                <img class="book_img" src="@book.ImgBigBook" alt="">
                            </div>
                            <div class="box_book_price">
                                @book.PraiseBook р.
                            </div>
                            <div class="box_book_name">
                                @book.NameBook
                            </div>
                            <div class="box_book_autor">
                                @book.AutorBook
                            </div>
                        </a>
                    </div>

                }
            }
        </div>
    </div>

    <!-- популярные авторы-->

    <div class="main_popul_autor">
        <div class="main_popul_autor-text">
            <p> Популярные авторы</p>
        </div>
        <div class="main_popul_autor-box">
            @foreach (var book in Model.Autors)
            {
            <div class="main_popul_autor_book">
                <!--Сылка на автора-->
                    <a class="main_popul_autor_book-a" href="/Autors/Authors_page/@book.ID">
                    <div class="main_popul_autor_img">
                        <img class="popul_autor_img_src"
                                 src="@book.ImgUrlAutors"
                             alt="">
                    </div>
                    <div class="main_popul_autor_name">
                            @book.NameAutors
                    </div>
                </a>
            </div>
            }
        </div>
    </div>

    <!--О нас-->

    <div class="main_about_Us">
        <div class="about_Us_HB">
            <p>Интернет-магазин HARDBOOK</p>
        </div>
        <div class="about_Us_sema">
            <p>Создан Семеновым Е.А от дизайна до логики в учебных целях</p>
        </div>
    </div>
</div>
@await Html.PartialAsync("Footer")

